.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 130px 15px;
  overflow: hidden;
  position: relative;
}

.headerImage {
  background-color: #cdcdcd;
  background: url('../../assets/images/header.jpg') center;
  background-size: cover;
  position: absolute;
  left: -3%;
  right: -5%;
  top: -5%;
  bottom: 0;
  z-index: -1;
}